<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>StrongSkills</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- AOS CSS-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/about.css" rel="stylesheet">

  <!-- Javascript AOS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- =======================================================
  * Template Name: Tempo - v4.8.0
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">StrongSkills</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="dropdown"><a  class="nav-link scrollto active" href="/about"><span>About Us <i class="fa fa-arrow-down"></i> </span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/about">Who We Are </a></li>
               <!--<li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul> 
              </li> -->
              <li><a href="/about">Vision and Mission</a></li>
              <li><a href="/about">Leadership</a></li>
             
            </ul>
          </li> 
          <li><a class="nav-link scrollto" href="/our-businesses">Our Businesses</a></li>
          <li><a class="nav-link scrollto " href="/sustainability">Sustainability</a></li>
         
          <li><a href="#">Strongskill Foundation</a></li>
           
          <li><a href="/blog">Media</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
<script>
  AOS.init();
</script>







  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up"
    data-aos-duration="3000">
      <h3>ABOUT US</h3>
      <h1>Strong Skills International</h1>
    
      
    </div>
  </section><!-- End Hero -->

  <main id="main">


   


    <section id="team" class="team" style="margin-bottom:40px;">
      <div class="container">
        <div class="section-title">
          <h2>ABOUT US </h2>
          <h3>Who  <span> We Are?</span></h3>
          <p>Strong Skills International is one of the strongest and most skillful divers group in the United States.   </p>
        </div>


        <div class="video-section">
          <div class="video-section-half2" data-aos="fade-left" data-aos-offset="100">
            <iframe width="100%" height="100%" src="https://video-previews.elements.envatousercontent.com/h264-video-previews/31fa9073-edbd-4e32-854f-513457b95c46/28421817.mp4" muted  frameborder="0" allow="accelerometer; autoplay; muted; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="box-shadow: 0 2px 10px -3px #493c3e;" allowfullscreen controls autoplay></iframe>
          </div> 
         
          <div class="video-section-half1" data-aos="fade-right" data-aos-offset="100">
            <p>In a fast-moving and increasingly complex global economy, Strong Skills International success depends on how faithfully we adhere to our core principles: delivering exceptional client service; acting with integrity and responsibility; and supporting the growth of our employees.</p>
            <p><b>Built on Principle:</b> <br>
              Strong Skills International is one of the strongest and most skillful divers group in the United States. With a history dating back over a decade, here's where we stand today:</p>
            <a href="events.html" style="border:solid 2px; border-radius:30px; width:190px; padding:10px;" class="btn-learn-more">Explore More</a>
          </div>
        </div>
      </div>
      
    </section>


   

    <!-- ======= About Section ======= -->
    <!--<section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <h3>About <span>Alpha House</span></h3>
          <p>Alpha House Marketing Ghana Limited is a new entry firm with untapped markets.</p>
        </div>
        <div class="row">
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up-right">
            <p>
              The focal aim of Alpha House marketing is to identify, explore and project the real value and potential of any event or product. The ability of Alpha House Marketing to operate with limited resources while ensuring strategic gain for clients, which is a skill only a few could master.We believe in adopting consumer-centered models, which put customer satisfaction and interest development at the center stage.
            </p>
            <!-- <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul> 
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
               As a marketing firm, we believe in the usage and adoption of mathematical, statistical, and technological tools to aid in market research industries to help with market competitions and consumer dominance.
            </p>
            <a href="#" class="btn-learn-more">Contact Us</a>
          </div>
        </div>
      </div>
    </section> -->
    <!-- End About Section -->

    <!--===== After About Section ====-->
    
    <!--  End of About Service -->
     <!-- ======= Cta Section ======= -->
     <section id="cta" class="cta">
      <div class="container">
        
        <div class="text-center" >
          <div class="video-section">
            <div class="video-section-half1" data-aos="fade-right" data-aos-offset="100">
              <h6 style="color:#fff; margin-bottom:0; text-align:left; font-size:14px;">   Vision & Mission</h6>
              <h1 style="color:white;text-align:left;"><b>Our Mission</b></h1>
              <h5 style="color:white; margin-bottom:10px; text-align:left;"> We deliver strong services to our shareholders by selling high-quality products at affordable prices, backed by excellent customer service. <br>Help Nigerian and other countries towards a better living and self-sufficiency, by establishing efficient production facilities in strategic locations close to key growth markets.  
                <br>   We provide economic benefits to local communities, by establishing efficient production facilities in strategic locations close to key growth markets.
                <br> To provide economic benefits to local communities by way of direct and indirect employment in all countries in which we operate.  
            
                <div class="section-titl" style="display:flex;margin-top:30px;">
                    <h5  style="background-color:#fff;  height: 37px; text-align:center; color:#191970; width:100px;  border-radius:0;font-size:11px; padding:13px;">READ MORE</h5> 
                    <h2  style="background-color:#191970; height: 37px; width:40px; border-radius:0 5px 5px 0; color:#000;"></h2> 
                 
                  </div>
              </h5>
              
            </div>
            <div class="video-section-half2" data-aos="fade-left" data-aos-offset="100">
              <div class="card">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="media-body text-left">
                          <h3 class="danger">278+ </h3>
                          <span>Growth Rate</span>
                        </div>
                        <div class="align-self-center">
                          <i class="icon-rocket danger font-large-2 float-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
              
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="align-self-center">
                        <i class="icon-pointer danger font-large-2 float-left"></i>
                      </div>
                      <div class="media-body text-right">
                        <h3>23</h3>
                        <h3 class="danger">5+ </h3>
                        <span>Countries reach</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           
               </div> 
           
          </div>

         <!--- <h3>Join our team</h3>
          <p> We are looking to recruit like minded and passionate people who are looking at making the best of their skills, talents and outreach. We are warm family on a journey of growth. You would enjoy adding value.</p>
          <a class="cta-btn" href="#">Contact us now.</a>
        </div>-->

      </div>
    </section><!-- End Cta Section -->


    <!-- ======= Services Section ======= -->
    
    <div class="section-title" style="margin-top:50px;">
      <h2>OUR LEADERSHIP</h2>
      <h3>Executive <span> Leadership </span></h3>
      <p>We believe in the concept of good customer service hence our vision to become the most efficient and influential business conglomerate in Africa and beyond.</p>
    </div> 
    <section class="preços-section" id="preços"> 
      <div class="produto1" data-aos="fade-up" data-aos-offset="250" data-aos="zoom-in" >
        <div class="imagem-produto1"  style="box-shadow: 0 2px 10px -3px #117964;">
        
        </div>
        <div class="texto-produto1">
        <h5> Mr. Anan Kwame</h5>
        <h6 style="color:#000; margin-bottom:10px; text-align:left; font-size:14px;">  Group Executive Director, Commercial Operations</h6>
        
        </div>
      </div>
      <div class="produto2" data-aos="fade-up" data-aos-offset="250"data-aos="zoom-in">
        <div class="imagem-produto2"  style="box-shadow: 0 2px 10px -3px #117964;">
       
        </div>
        <div class="texto-produto2">
        <h5> Mr. Anan Kwame</h5>
        <h6 style="color:#000; margin-bottom:10px; text-align:left; font-size:14px;">  Group Executive Director, Commercial Operations</h6>
        </div>
      </div>
      <div class="produto3" data-aos="fade-up" data-aos-offset="250" data-aos="zoom-in">
        <div class="imagem-produto3"  style="box-shadow: 0 2px 10px -3px #117964;">
      
        </div>
        <div class="texto-produto3">
            <h5> Mr. Anan Kwame</h5>
            <h6 style="color:#000; margin-bottom:10px; text-align:left; font-size:14px;">  Group Executive Director, Commercial Operations</h6>
        </div>

      </div>
      
      
    </section><!-- End Services Section -->
    <section class="preços-section" id="preços"> 
        <div class="produto1" data-aos="fade-up" data-aos-offset="250" data-aos="zoom-in" >
          <div class="imagem-produto1"  style="box-shadow: 0 2px 10px -3px #117964;">
          
          </div>
          <div class="texto-produto1">
          <h5> Mr. Anan Kwame</h5>
          <h6 style="color:#000; margin-bottom:10px; text-align:left; font-size:14px;">  Group Executive Director, Commercial Operations</h6>
          
          </div>
        </div>
        <div class="produto2" data-aos="fade-up" data-aos-offset="250"data-aos="zoom-in">
          <div class="imagem-produto2"  style="box-shadow: 0 2px 10px -3px #117964;">
         
          </div>
          <div class="texto-produto2">
          <h5> Mr. Anan Kwame</h5>
          <h6 style="color:#000; margin-bottom:10px; text-align:left; font-size:14px;">  Group Executive Director, Commercial Operations</h6>
          </div>
        </div>
        <div class="produto3" data-aos="fade-up" data-aos-offset="250" data-aos="zoom-in">
          <div class="imagem-produto3"  style="box-shadow: 0 2px 10px -3px #117964;">
        
          </div>
          <div class="texto-produto3">
              <h5> Mr. Anan Kwame</h5>
              <h6 style="color:#000; margin-bottom:10px; text-align:left; font-size:14px;">  Group Executive Director, Commercial Operations</h6>
          </div>
  
        </div>
        
        
      </section>
    </div>

    <!-- ======= Features Section ======= -->
    <!--<section id="features" class="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-3 col-md-4 col-6 col-6">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="">Lorem Ipsum</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">Dolor Sitema</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="">Sed perspiciatis</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="">Magni Dolores</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3><a href="">Nemo Enim</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3><a href="">Eiusmod Tempor</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3><a href="">Midela Teren</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3><a href="">Pira Neve</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
              <i class="ri-anchor-line" style="color: #b2904f;"></i>
              <h3><a href="">Dirada Pack</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
              <i class="ri-disc-line" style="color: #b20969;"></i>
              <h3><a href="">Moton Ideal</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
              <i class="ri-base-station-line" style="color: #ff5828;"></i>
              <h3><a href="">Verdo Park</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
              <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
              <h3><a href="">Flavor Nivelanda</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End Features Section -->

   
    <!-- ======= Portfolio Section ======= -->
    <!-- <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <h3>Check our <span>Portfolio</span></h3>
          <p>We have organised quite a number of events for near and far names including institutions like Central University and UCC.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Marketting</li>
              <li data-filter=".filter-card">Events</li>
              <li data-filter=".filter-web">Promotions</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="zoom-in">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-aos="zoom-in">
            <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="zoom-in">
            <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card"data-aos="zoom-in">
            <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-aos="zoom-in">
            <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="zoom-in">
            <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-aos="zoom-in">
            <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-aos="zoom-in">
            <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-aos="zoom-in">
            <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section> -->   
      <section id="cta" class="cta" >
        <div class="container">
          <div class="text-center" >
            <div class="video-section">
              <div class="video-section-half1" data-aos="fade-right" data-aos-offset="100">
                <h6 style="color:white; margin-bottom:10px; text-align:left; font-size:14px;">   Vision</h6>
                <h1 style="color:white;text-align:left;"><b> Over 10 Years of Thinking Big</b></h1>
                <h5 style="color:white; margin-bottom:10px; text-align:left;"> 
                 
                  From helping provide affordable short term living. the plan to pioneering data-driven Philanthropy, Strong Skills international has a long history.   <h6 style="color:white; margin-bottom:10px; text-align:left; font-size:14px;"> <a href="" style="color:blue;">  See More -</a></h6>
                </h5>
                <h1 style="color:white;text-align:left;"><b>  Art Collection</b></h1>
                <h5 style="color:white; margin-bottom:10px; text-align:left;">   Since its founding Strong Skills International has become one of the the most special collections creator in the world. Our mission is to connect clients, colleagues, and communities through art and the conversations it can start.</h5>
                <h6 style="color:white; margin-bottom:10px; text-align:left; font-size:14px;"> <a href="" style="color:blue;">  See More -</a></h6>
              </div>
 
             <div class="video-section-half2" data-aos="fade-left" data-aos-offset="100">
                <img src="" style="width: 100%;"class="img-fluid" alt="">


                <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
                <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
                <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
                <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
                <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
                
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="warning">89.89 %</h3>
                  <span>10 Years of Experience</span>
                </div>
                <div class="align-self-center">
                  
                  <i class="icon-graph success font-large-2 float-left"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h3 class="warning">243+</h3>
                    <span>Conversion Rate</span>
                  </div>
                  <div class="align-self-center">
                    <i class="icon-pie-chart warning font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
       
      
                 </div> 
            </div>
  
           <!--- <h3>Join our team</h3>
            <p> We are looking to recruit like minded and passionate people who are looking at making the best of their skills, talents and outreach. We are warm family on a journey of growth. You would enjoy adding value.</p>
            <a class="cta-btn" href="#">Contact us now.</a>
          </div>-->
  
        </div>
      </section>
    
    <!-- End Portfolio Section -->

    <!-- ======= F.A.Q Section ======= -->
     <section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <h3>Frequently Asked <span>Questions</span></h3>
        </div>

        <ul class="faq-list" data-aos="fade-up" data-aos-offset="150"data-aos="zoom-in">

          <li>
            <div data-bs-toggle="collapse"data-aos="fade-up" data-aos-offset="150"data-aos="zoom-in" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" data-aos="fade-up" data-aos-offset="150"data-aos="zoom-in"href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse"data-aos="fade-up" data-aos-offset="150"data-aos="zoom-in" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse"data-aos="fade-up" data-aos-offset="150"data-aos="zoom-in" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse"data-aos="fade-up" data-aos-offset="150"data-aos="zoom-in" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse"data-aos="fade-up" data-aos-offset="150"data-aos="zoom-in" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section> 
    <!-- End F.A.Q Section -->

    <!-- ======= Event Section ======= -->
   
    <!-- End of Events -->
<!-- 
        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/person.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Name</h4>
                <span>Position 1</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/person.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Person 2</h4>
                <span>Position</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/person.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Person 3</h4>
                <span>Position</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/person.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Person 4</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div> -->

    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <!-- <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <h3>Contact <span>Us</span></h3>
          <p>We are always open to recieve feedback. You can totally reach out to us about any upcomming projects you would like us to work on.</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.5908893086585!2d-0.08057177865526854!3d5.627250721468968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf841f9f6f0b4d%3A0x7bf1c99f0cca9c42!2s18%20Spintex%20Rd%2C%20Accra!5e0!3m2!1sen!2sgh!4v1665533132666!5m2!1sen!2sgh"  frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>No14 SPINTEX ROAD 18 JUNCTION</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>alphahousemarketing@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+ 233 55 550 6129/ +233 27 714 5213</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section>End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 <!-- <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4 style="margin: 0;">StrongSkills</h4>
            <H5>International</H5>
            <p>
              No14 SPINTEX ROAD 18
              JUNCTION<br>
              Greater Accra,<br>
              Ghana <br><br>
              <strong>Phone:</strong> + 233 55 550 6129<br>
              <strong>Email:</strong> ssi@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="events.html">Events</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="client.html">Clients</a></li>
               <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li> 
               <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> 
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="service">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="service">Event Organising</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="service">Logistics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="service">Advertisment</a></li>
              
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Keep in touch with us and our events add your mail for monthly updates </p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Strongskills</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        
          Designed by <a href="https://prestoghana.com/">Kalitex Creatives</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>-->


  <footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                        <p>Don’t miss any updates of our new templates and extensions.!</p>
                        <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                            <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                            <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Android App</a></li>
                            <li><a href="#">ios App</a></li>
                            <li><a href="#">Desktop</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">My tasks</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Term &amp; conditions</a></li>
                            <li><a href="#">Reporting</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                        <div class="f_social_icon">
                            <a href="#" class="fab fa-facebook"></a>
                            <a href="#" class="fab fa-twitter"></a>
                            <a href="#" class="fab fa-linkedin"></a>
                            <a href="#" class="fab fa-pinterest"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                  &copy; Copyright <strong><span>Strongskills</span></strong>. All Rights Reserved
                </div>
                <div class="col-lg-6 col-sm-5 text-right">
                    
                  Designed by <a href="https://prestoghana.com/">Kalitex Creatives</a>
                </div>
            </div>
        </div>
    </div>
</footer>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>

</html>