<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>StrongSkills</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- AOS CSS-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/about1.css" rel="stylesheet">

  <!-- Javascript AOS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      
      <!-- Uncomment below if you prefer to use an image logo -->
       

       <a href="about.html" class="logo"><img src="me.png" alt="" class="img-fluid"></a>
        <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/contact">RSVP</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
    </div>
  </header><!-- End Header -->
<script>
  AOS.init();
</script>


  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="container">

        <div class="section-title">
          
          <h3 style="color: #fff;">Reservations</h3>
          <p style="color:#fff;">Alpha House Marketing Ghana Limited</p>
        </div>
        <div class="row">
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up-right">
            <div class="form-group">
              <label for=""></label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Name">
             
            </div>
            <div class="form-group">
                <label for=""></label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Phone Number">
               
              </div>
              <div class="form-group">
                <label for=""></label>
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Message">
               
              </div>

          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p style="color:#fff;">
               As a marketing firm, we believe in the usage and adoption of mathematical, statistical, and technological tools to aid in market research industries to help with market competitions and consumer dominance.
            </p>
             <a href="#" class="btn-get-started scrollto" style="margin-bottom: 30px;">More</a>
          </div>
        </div>
      </div>
  </section><!-- End Hero -->    
</body>
</html>